<% content_for :cover do %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>楽天市場クローンサイト</h1>
        <a href="" class="btn btn-success btn-lg">商品を見る</a>
      </div>
    </div>
  </div>

<% end %>