<% content_for :cover do %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>楽天市場クローンサイト</h1>

        <% unless logged_in? %>
          <%= link_to '商品を見る', signup_path, class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
